{% extends "home.html" %}

{% block extra_css %}
<style>
.form-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.form-container::-webkit-scrollbar {
    display: none;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:hover {
    background-color: #003d80;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: #00a3cc;
}

label {
    font-family: 'Source Sans 3', sans-serif;
    color: #000000;
}
</style>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body form-container">
        <h1>Sell Products</h1>
        <form method="POST" action="{% url 'employer_home' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
